<swiper-container
  #slider
  navigation="true"
  slides-per-view="1"
  speed="500"
  pagination="true"
  class="w-full mb-2 slider1"
  thumbs-swiper=".my-thumbs"
>
  <swiper-slide *ngFor="let img of images; let i = index">
    <img [src]="img" alt="test" loading="lazy" class="w-full aspect-square">
  </swiper-slide>
</swiper-container>

<swiper-container
  #slider
  navigation="true"
  slides-per-view="5"
  speed="500"
  pagination="true"
  slides-per-group="3"
  class="w-full slider2 my-thumbs"
>
  <swiper-slide *ngFor="let img of images; let i = index">
    <img [src]="img" alt="test" loading="lazy">
  </swiper-slide>
</swiper-container>
